

  @media (max-width: 767px){
    .bmi{
      margin: 0;
      width: 75%;
    }
  }


  .bmi{
    text-align: center;
    padding: 20px;
    margin: auto;
    height: 350px;
    max-width: 750px;
    width: 75%;
    border-radius: 5px;
    border: 1px solid rgb(36, 35, 35);
    box-shadow: rgb(38, 57, 77) 0px 5px 10px 0px;
  }

  .bmi h3{
    margin-left: -21px;
    margin-right: -21px;
    padding: 10px;
    border-bottom: 2px solid #2f2e2e;
  }

  .inputfield{
    margin: 30px;
  }

  .bmi input{
    outline: none;
    border: none;
    padding: 5px;
    margin-top: 10px;
    width: 40%;
  }
  .bmi button{
      align-items: center;
      justify-content: center;
      max-width: 150px;
      margin: auto;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: black;
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }
